header{
    overflow:hidden;
    background-color: #f1f1f1;
    padding:20px 10px;
}
header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration:solid;
    font-size: 18px;
    line-height: 1px;
    border-radius: 4px;
}
header a:hover
{
    background-color: #ddd;
    color: black;
}
footer{
    overflow:hidden;
    position:fixed;
    bottom:0;
    width:100%;
    text-align: center;
    color:black;
    display:block;
    background:rgb(162, 162, 162);

}

input{
    position:fixed;
    border:none;
    right:20px;
}